body {
    background: #15c4d7;
    padding: 50px;
}
p { color : blue; font-size: large; }
li { text-align: center; }
html { font-family: "Mystery Quest";  }

h1 {

li { text-align: center; }

html { font-family: "Mystery Quest";  }
}
h2,
h3 {

}
img {
    width: 200px;
}